:root {
  --dark-background: rgb(41, 41, 41);
  --light-background: rgb(209, 209, 209);
  --dark-background-transparent: rgba(30, 30, 30, 0.9);
  --light-background-transparent: rgba(219, 219, 219, 0.9);
  --dark-background-font-color: rgb(182, 182, 182);
  --light-background-font-color: rgb(0, 0, 0);
  --light-button-text: rgb(250, 162, 0);
  --light-button-bg: rgb(104, 103, 103);
  --dark-button-bg: var(--dark-background);
  --dark-button-text: rgb(255, 208, 0);
  --light-link-bg: rgb(202, 7, 0);
  --light-link-bg-hover: rgb(233, 9, 1);
  --light-link-color: rgb(255, 209, 4);
  --dark-link-bg: rgb(63, 9, 0);
  --dark-link-bg-hover: rgb(102, 15, 0);
  --dark-link-color: rgb(216, 176, 0);
  --dark-card-bg-color: rgb(83, 83, 83);
  --dark-card-font-color-black: rgb(0, 0, 0);
  --dark-card-font-color-red: rgb(146, 0, 0);
  --dark-card-back-stripe-two: rgb(109, 23, 23);
  --dark-card-back-stripe-one: rgb(60, 36, 126);
  --dark-card-border: rgb(0, 0, 0);
  --light-card-bg-color: rgb(255, 255, 255);
  --light-card-font-color-black: rgb(0, 0, 0);
  --light-card-font-color-red: rgb(255, 0, 0);
  --light-card-back-stripe-one: rgb(255, 0, 0);
  --light-card-back-stripe-two: rgb(124, 78, 252);
  --light-card-border: rgb(0, 0, 0);
  --card-height: 15vh;
  --card-width: 4vw;
  --image-preview-height: 30%;
  --image-preview-width: 2.5vw;
  --image-preview-font-size: 0.5em;
  --image-preview-lineheight: 0.7em;
}

body {
  margin: 0 0 0 0;
  padding: 00 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.maxHeight {
  height: 100%;
}

.vFlex {
  display: flex;
  flex-direction: column;
}

.hFlex {
  display: flex;
  flex-direction: row;
}

.noWrap {
  flex-wrap: nowrap;
}

.centerFlexAlign {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

#title {
  margin: 0.4em;
}

.lightMode {
  background-color: var(--light-background);
  color: var(--light-background-font-color);
}

.darkMode {
  background-color: var(--dark-background);
  color: var(--dark-background-font-color);
}

.modeSelectorDiv {
  border-style: outset;
  border-radius: 40%;
  padding: 0.2em;
  text-align: center;
  line-height: 1.5em;
}

.btn:hover {
  cursor: pointer;
}

.lightModeBtn {
  background-color: var(--light-button-bg);
  color: var(--light-button-text);
}

.darkModeBtn {
  background-color: var(--dark-button-bg);
  color: var(--dark-button-text);
  white-space: pre;
}

#startGameLink {
  line-height: 1em;
  text-align: center;
  padding: 0.8em;
  margin: auto;
  margin-top: 1em;
  max-width: 10vw;
}

.lightLinkDiv {
  background-color: var(--light-link-bg);
}

.lightLink:any-link {
  color: var(--light-link-color);
  text-decoration: none;
}

.lightLinkDiv:hover {
  background-color: var(--light-link-bg-hover);
}

.darkLinkDiv {
  background-color: var(--dark-link-bg);
}
.darkLink:any-link {
  color: var(--dark-link-color);
  text-decoration: none;
}

.darkLinkDiv:hover {
  background-color: var(--dark-link-bg-hover);
}

#detailSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#detailsInputBox {
  display: flex;
  flex-direction: column;
}

.detailInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.12em;
  padding: 0.12em;
  border-style: solid;
  border-width: 0.1em;
}

#playAreaContainer {
  width: 80vw;
  min-height: 50vh;
}

#playArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: inherit;
}

#leftPlayArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#rightPlayArea {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#centerPlayAreaTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#centerPlayAreaBottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#centerPlayArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalHand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horazontalHand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardZone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardButton {
  border: solid;
  text-align: center;
  padding: 0.5em;
}

.continueButton {
  margin: 1em;
}

.cardDark {
  border: solid;
  border-color: var(--dark-card-border);
  background-color: var(--dark-card-bg-color);
  padding: 1em;
  margin: 0.3em;
}

.cardDarkBlack {
  color: var(--dark-card-font-color-black);
}
.cardDarkRed {
  color: var(--dark-card-font-color-red);
}

.cardLight {
  border: solid;
  border-color: var(--light-card-border);
  background-color: var(--light-card-bg-color);
  padding: 1em;
  margin: 0.3em;
}
.cardLightBlack {
  color: var(--light-card-font-color-black);
}
.cardLightRed {
  color: var(--light-card-font-color-red);
}

.verticalCard {
  height: var(--card-height);
  width: var(--card-width);
}

.horazontalCard {
  height: var(--card-width);
  width: var(--card-height);
}

.plainCardBackDark {
  background-image: linear-gradient(
    45deg,
    var(--dark-card-back-stripe-one) 17.5%,
    var(--dark-card-back-stripe-two) 17.5%,
    var(--dark-card-back-stripe-two) 50%,
    var(--dark-card-back-stripe-one) 50%,
    var(--dark-card-back-stripe-one) 67.5%,
    var(--dark-card-back-stripe-two) 67.5%,
    var(--dark-card-back-stripe-two) 100%
  );
  background-size: 28.28px 28.28px;
}

.plainCardBackLight {
  background-image: linear-gradient(
    45deg,
    var(--light-card-back-stripe-one) 17.5%,
    var(--light-card-back-stripe-two) 17.5%,
    var(--light-card-back-stripe-two) 50%,
    var(--light-card-back-stripe-one) 50%,
    var(--light-card-back-stripe-one) 67.5%,
    var(--light-card-back-stripe-two) 67.5%,
    var(--light-card-back-stripe-two) 100%
  );
  background-size: 28.28px 28.28px;
}

.plainCardBackBlank {
  border: solid;
  padding: 1em;
  margin: 0.3em;
  border-color: rgba(0, 0, 0, 0);
}

#deckArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.2em;
}

.deckPosition {
  margin: 0.5em;
  border-style: dashed;
  border-color: black;
  min-width: 5vw;
  min-height: 8vw;
}

.playerInfoBox {
  border: solid;
  border-width: 1px;
  border-color: black;
  padding: 0.5em;
  margin: 0.2em;
  line-height: 1.1em;
  flex: 1;
}

.hand {
  flex: 1;
}

.handZone {
  min-width: 10vw;
}

.imagePreview {
  height: var(--image-preview-height);
  width: var(--image-preview-width);
  border: solid black 2px;
  font-size: var(--image-preview-font-size);
  line-height: var(--image-preview-lineheight);
}

.cardImage {
  max-height: 100%;
  max-width: 100%;
}
.cardContainer {
  max-height: 8vw;
  max-width: 5vw;
}

#gameResultDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.lightTransBG {
  background-color: var(--light-background-transparent);
}

.darkTransBG {
  background-color: var(--dark-background-transparent);
}

#designSelectContainer {
  min-width: 100vw;
}

#slideDivBtn {
  width: 100%;
  text-align: center;
  border: 1px;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  cursor: pointer;
}

.darkSlideDivBtn {
  color: rgba(230, 230, 230, 0.2);
}

.lightSlideDivBtn {
  color: rgba(50, 50, 50, 0.2);
}
