:root {
  --dark-background: rgb(41, 41, 41);
  --light-background: rgb(209, 209, 209);
  --dark-background-font-color: rgb(182, 182, 182);
  --light-background-font-color: rgb(0, 0, 0);
  --light-button-text: rgb(250, 162, 0);
  --light-button-bg: rgb(104, 103, 103);
  --dark-button-bg: var(--dark-background);
  --dark-button-text: rgb(255, 208, 0);
  --light-link-bg: rgb(202, 7, 0);
  --light-link-bg-hover: rgb(233, 9, 1);
  --light-link-color: rgb(255, 209, 4);
  --dark-link-bg: rgb(63, 9, 0);
  --dark-link-bg-hover: rgb(102, 15, 0);
  --dark-link-color: rgb(216, 176, 0);
  --dark-card-bg-color: rgb(83, 83, 83);
  --dark-card-font-color-black: rgb(0, 0, 0);
  --dark-card-font-color-red: rgb(146, 0, 0);
  --dark-card-border: rgb(0, 0, 0);
  --light-card-bg-color: rgb(255, 255, 255);
  --light-card-font-color-black: rgb(0, 0, 0);
  --light-card-font-color-red: rgb(255, 0, 0);
  --light-card-border: rgb(0, 0, 0);
  --card-height: 10vw;
  --card-width: 5vw;
}

body {
  margin: 0 0 0 0;
  padding: 00 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.vFlex {
  display: flex;
  flex-direction: column;
}

.hFlex {
  display: flex;
  flex-direction: row;
}

.centerFlexAlign {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

#title {
  margin: 0.4em;
}

.lightMode {
  background-color: var(--light-background);
  color: var(--light-background-font-color);
}

.darkMode {
  background-color: var(--dark-background);
  color: var(--dark-background-font-color);
}

.modeSelectorDiv {
  border-style: outset;
  border-radius: 40%;
  padding: 0.2em;
  text-align: center;
  line-height: 1.5em;
}

.btn:hover {
  cursor: pointer;
}

.lightModeBtn {
  background-color: var(--light-button-bg);
  color: var(--light-button-text);
}

.darkModeBtn {
  background-color: var(--dark-button-bg);
  color: var(--dark-button-text);
  white-space: pre;
}

#startGameLink {
  line-height: 1em;
  text-align: center;
  padding: 0.8em;
  margin: 1em;
  margin-left: 5em;
  margin-right: 5em;
}

.lightLink {
  background-color: var(--light-link-bg);
}

.lightLink:any-link {
  color: var(--light-link-color);
  text-decoration: none;
}

.lightLink:hover {
  background-color: var(--light-link-bg-hover);
}

.darkLink {
  background-color: var(--dark-link-bg);
}
.darkLink:any-link {
  color: var(--dark-link-color);
  text-decoration: none;
}

.darkLink:hover {
  background-color: var(--dark-link-bg-hover);
}

#detailsInputBox {
  display: flex;
  flex-direction: column;
}

.detailInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.12em;
  padding: 0.12em;
  border-style: solid;
  border-width: 0.1em;
}

#playAreaContainer {
  width: 100vw;
  min-height: 50vh;
}

#playArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: inherit;
}

#centerPlayArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalHand {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.horazontalHand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardZone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardButton {
  border: solid;
  text-align: center;
  padding: 0.5em;
}

.continueButton {
  margin: 1em;
}

.cardDark {
  border: solid;
  border-color: var(--dark-card-border);
  background-color: var(--dark-card-bg-color);
  padding: 1em;
  margin: 0.3em;
}

.cardDarkBlack {
  color: var(--dark-card-font-color-black);
}
.cardDarkRed {
  color: var(--dark-card-font-color-red);
}

.cardLight {
  border: solid;
  border-color: var(--light-card-border);
  background-color: var(--light-card-bg-color);
  padding: 1em;
  margin: 0.3em;
}
.cardLightBlack {
  color: var(--light-card-font-color-black);
}
.cardLightRed {
  color: var(--light-card-font-color-red);
}

.verticalCard {
  height: var(--card-height);
  width: var(--card-width);
}

.horazontalCard {
  height: var(--card-width);
  width: var(--card-height);
}
